.vscode/launch.json
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
Kinetic Technology Limited_Calypso_1.0.1.7.app
.alpackages/
.vscode/
.alcache/
.altemplates/
.vscode/.alcache/*